.footer_wrapper{
    margin-top: auto;
}
.footer {
  margin-top: auto;
  padding: 26px 0;
  color: #fff;
  background-color: #262626;
}
.footer_content {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}
.footer_text {
  font-size: 14px;
}
